@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');


$primary: #00fec0;
$secondary: rgb(20, 22, 22);
$input-btn-focus-width: 0;
$input-btn-focus-box-shadow: 0 0 0;
$btn-border-radius: 18px;
$btn-border-radius-lg: 22px;
$btn-padding-x-lg: 20px;


* {
    font-family: 'Noto Sans TC', sans-serif;
}


// nav-bar styles
.navbar-light .navbar-toggler {
    border: 0;
    border-color: rgba(255, 255, 255, 0);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    display: block;
    transition: all 0.2s;
}

.middle-bar{
    margin: 5px auto;
}

.navbar-toggler {
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    
}

.navbar-toggler.collapsed {
    .top-bar {
        transform: rotate(0);
    }

    .middle-bar {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .bottom-bar {
        transform: rotate(0);
    }

    .toggler-icon {
        background-color: #ffffff;
    }
}


// scrollbar styles
::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: none;
}
  
::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: $primary;
}



.nav-left {
    justify-content: flex-end;
}

.nav-style {
    border-bottom: 2px solid $secondary;
    transition: .2s;
}

.header-style {
    border-bottom: 2px solid $primary;
}

.nav-style:hover {
    border-bottom: 2px solid $primary;
}


// card flip style
.face {
    transition: 1s;
}

.back-face {
    display: none;
}

.face:hover {
    -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);
    -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);
    -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);
    -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);
    transform:  rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);
}

.front-face {
    transition: 1s;
}


.face:hover .front-face {
    display: none;

}

.face:hover .back-face {
    display: flex;
    width: 202px;
    height: 258px;
    transform:  rotateX(0deg) rotateY(180deg) rotateZ(0deg) translateX(0px) translateZ(0px);

}

#particles-js {
    width: 100%;
    height:100%;
}

@import '../node_modules/bootstrap/scss/bootstrap';