
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-secondary px-2 mb-5">
    <div class="container-fluid">
    
      <a class="h2 text-primary fw-bold text-decoration-none mt-1" href="#">J</a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-contents">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse nav-left" id="nav-contents">
        <ul class="navbar-nav d-flex align-items-center">

            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#about">
                    About Me
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#skills">
                    Skills
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#projects">
                    Projects
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#contact">
                    Contact
                </a>
            </li>

           
        </ul>
      </div>
    </div>
</nav>



<!-- showcase -->
<section class="p-5" style="height: 100vh;">
    <div class="container d-md-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
            <div class="wrap">
                <p class="h4 text-light fw-bold">Hello!</p>
            <div class="display-3 text-light fw-bold mb-4">I am <span class="text-primary">Jaiharishan</span></div>
            <p class="h5 text-light mb-3">Web developer, Learner, Tech Enthusiast</p>
            <a class="btn btn-lg btn-outline-primary text-light" href="#contact">Contact me</a>
            </div>
            
        </div>

        <!-- hero img -->
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="wrap">
               
                <svg width='350px' viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#00FEC0" d="M61.2,-52.2C73.7,-33,74.5,-7.9,68.5,14.5C62.5,36.9,49.7,56.7,31.1,66.3C12.6,75.9,-11.7,75.2,-31.9,65.7C-52.2,56.2,-68.4,37.7,-74.7,15.5C-81.1,-6.8,-77.6,-33,-63.5,-52.5C-49.4,-72.1,-24.7,-85.1,-0.2,-84.9C24.3,-84.8,48.6,-71.5,61.2,-52.2Z"
                     transform="translate(100 100)" />
                     <!-- <image width="300px" xlink:href="https://www.tutorialspoint.com/videotutorials/images/coding_ground_home.jpg" clip-path="url(#myCircle)" /> -->
                </svg>
            </div>
        </div>
        
    </div>
    
</section>



<!-- about section -->
<section class="p-5" id="about">
    <div class="container px-sm-5 d-flex flex-column align-items-center">
        <div class="text-light text-center header-style pb-2 display-6 mb-5">
            About Me
        </div>
    
        <p class="text-light lead mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Eaque deleniti accusantium praesentium animi vitae nisi explicabo iusto autem aut!
            In perferendis architecto aperiam ut illo perspiciatis ipsa quam vel culpa totam
            obcaecati magni, fuga nulla veritatis vero consectetur? Aliquam id illo at totam
            inventore animi, explicabo mollitia minima neque excepturi distinctio! Pariatur
            rerum qui nostrum vitae eum, ducimus fugit! Ipsa blanditiis nesciunt voluptatum,
            pariatur libero molestias consequuntur odio mollitia. Animi eaque neque possimus
            optio nisi illum accusantium porro laboriosam harum id sequi, voluptatum qui
            eligendi quam quis, odio vitae, quibusdam ipsam cum voluptates? Voluptatum non
            ratione necessitatibus blanditiis! Non sunt earum voluptates quo a commodi in
            ad tempora assumenda rerum rem dolorum unde, alias quam? Reiciendis sint nam dolore at!
        </p>
    </div>
    
</section>


<!-- skills section -->
<section class="p-5" id="skills">
    <div class="container px-sm-5 d-flex flex-column align-items-center">
        <div class="text-light text-center header-style pb-2 display-6 mb-5">
            Skills
        </div>

        <!-- skills card -->
        <div class="cards d-flex flex-wrap align-items-center justify-content-around w-100">

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="https://image.flaticon.com/icons/png/512/174/174854.png" alt="html">

                    <div class="h3 text-center mt-3">HTML</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>modern html and all in it</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="https://image.flaticon.com/icons/png/512/732/732190.png" alt="CSS">

                    <div class="h3 text-center mt-3">CSS</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>modern CSS with expertise in css3</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="https://image.flaticon.com/icons/png/512/541/541509.png" alt="JS">

                    <div class="h3 text-center mt-3">JS</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="https://cdn.iconscout.com/icon/free/png-512/node-js-1-1174935.png" alt="nodeJS">

                    <div class="h3 text-center mt-3">NodeJS</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="/imgs/expressjs_logo_icon_169185.png" alt="express">

                    <div class="h3 text-center mt-3">Express</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="/imgs/mongodb_original_wordmark_logo_icon_146425.png" alt="MongoDB">

                    <div class="h3 text-center mt-3">MongoDB</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="/imgs/python_104451.png" alt="MongoDB">

                    <div class="h3 text-center mt-3">Python</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>

            <div class="card p-3 m-2 center face">
                <div class="front-face">
                    <div class="contents front">
                        <img width="200px" src="/imgs/bootstrap_plain_logo_icon_146619.png" alt="Bootstrap">

                    <div class="h3 text-center mt-3">bootstrap</div>
                    </div>
                    
                </div>

                <div class="back-face align-items-center justify-content-center">
                    <div class="contents back">
                        <p>JS with es6 knowledge</p>
                    </div>
                </div>
                
            </div>


            
        </div>

    
    </div>

</section>



<!-- projects section -->
<section class="p-5" id='projects'>
    <div class="container px-sm-5 d-flex flex-column align-items-center">
        <div class="text-light text-center header-style pb-2 display-6 mb-5">
            Projects
        </div>

        
        <div id="carouselExampleCaptions" class="carousel slide w-100" data-bs-ride="carousel">

            <!-- indicator icons -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
            </div>
            

            <!-- carousel content -->
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <img src="/imgs/Screenshot (8).png" class="d-block w-100" alt="projectImg">
                    <div class="carousel-caption d-none d-md-block bg-secondary">
                    <h5>Youtube Clone (Frontend)</h5>
                    <p>This a youtube like clone made only using HTML and CSS</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="/imgs/Screenshot (8).png" class="d-block w-100" alt="projectImg">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <img src="/imgs/Screenshot (8).png" class="d-block w-100" alt="projectImg">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>


            <!-- previous -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <!-- next -->
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</section>

<!-- some other section -->

<!-- footer section -->
