
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-secondary px-2 mb-5">
    <div class="container-fluid">
    
      <a class="h2 text-primary fw-bold text-decoration-none mt-1" href="#">J</a>

      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#nav-contents">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>

      <div class="collapse navbar-collapse nav-left" id="nav-contents">
        <ul class="navbar-nav d-flex align-items-center">

            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#about">
                    About Me
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#skills">
                    Skills
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#projects">
                    Projects
                </a>
            </li>
            <li class="nav-item mx-2 nav-style">
                <a class="nav-link text-light" href="#contact">
                    Contact
                </a>
            </li>

           
        </ul>
      </div>
    </div>
</nav>



<!-- showcase -->
<section class="p-5" style="height: 100vh;">
    <div class="container d-md-flex flex-wrap align-items-center justify-content-between">
        <div class="d-flex align-items-center justify-content-center">
            <div class="wrap">
                <p class="h4 text-light fw-bold">Hello!</p>
            <div class="display-3 text-light fw-bold mb-4">I am <span class="text-primary">Jaiharishan</span></div>
            <p class="h5 text-light mb-3">Web developer, Learner, Tech Enthusiast</p>
            <a class="btn btn-lg btn-outline-primary text-light" href="#contact">Contact me</a>
            </div>
            
        </div>

        <!-- hero img -->
        <div class="d-flex align-items-center justify-content-center mt-5">
            <div class="wrap">
               
                <svg width='350px' viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#00FEC0" d="M61.2,-52.2C73.7,-33,74.5,-7.9,68.5,14.5C62.5,36.9,49.7,56.7,31.1,66.3C12.6,75.9,-11.7,75.2,-31.9,65.7C-52.2,56.2,-68.4,37.7,-74.7,15.5C-81.1,-6.8,-77.6,-33,-63.5,-52.5C-49.4,-72.1,-24.7,-85.1,-0.2,-84.9C24.3,-84.8,48.6,-71.5,61.2,-52.2Z"
                     transform="translate(100 100)" />
                     <!-- <image width="300px" xlink:href="https://www.tutorialspoint.com/videotutorials/images/coding_ground_home.jpg" clip-path="url(#myCircle)" /> -->
                </svg>
            </div>
        </div>
        
    </div>
    
</section>



<!-- about section -->
<section class="p-5" id="about">
    <div class="container px-sm-5 d-flex flex-column align-items-center">
        <div class="text-light text-center header-style pb-2 display-6 mb-5">
            About Me
        </div>
    
        <p class="text-light lead mt-5">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            Eaque deleniti accusantium praesentium animi vitae nisi explicabo iusto autem aut!
            In perferendis architecto aperiam ut illo perspiciatis ipsa quam vel culpa totam
            obcaecati magni, fuga nulla veritatis vero consectetur? Aliquam id illo at totam
            inventore animi, explicabo mollitia minima neque excepturi distinctio! Pariatur
            rerum qui nostrum vitae eum, ducimus fugit! Ipsa blanditiis nesciunt voluptatum,
            pariatur libero molestias consequuntur odio mollitia. Animi eaque neque possimus
            optio nisi illum accusantium porro laboriosam harum id sequi, voluptatum qui
            eligendi quam quis, odio vitae, quibusdam ipsam cum voluptates? Voluptatum non
            ratione necessitatibus blanditiis! Non sunt earum voluptates quo a commodi in
            ad tempora assumenda rerum rem dolorum unde, alias quam? Reiciendis sint nam dolore at!
        </p>
    </div>
    
</section>


<!-- skills section -->
<section class="p-5" id="skills">
    <div class="container px-sm-5 d-flex flex-column align-items-center">
        <div class="text-light text-center header-style pb-2 display-6 mb-5">
            Skills
        </div>
    
    </div>

</section>

<!-- projects section -->

<!-- some other section -->

<!-- footer section -->
